{erl_opts,
  [debug_info,
    {parse_transform, lager_transform}, % 日志输出转换
%%    {parse_transform, exprecs}, % 自动生成records的操作函数
    {platform_define, "(linux|freebsd|darwin)", 'USE_JSX', 'TRUE'} %定义工作平台]}.
  ]}.

{deps, [
  {lager, "3.4.2"}
  , {xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  , {datetime_x_fin, {git, "https://github.com/simonxu72/datetime_x_fin", {branch, "master"}}}
]}.

{shell, [
  {apps, [xm_up_config]}
  , {config, "sys.config"}
]}.