[

  {lager,
    [
      {log_root, "/tmp/logs/"},
      {handlers,
        [
          {lager_console_backend,
            [debug,
              {lager_default_formatter,
                [date, " ", time
                  , " [", severity, "]"
                  , {module, [
                  module,
                  {function, [":", function], ""},
                  {line, [":", line], ""}], ""},
                  {pid, ["@", pid], ""},
                  message
                  , "\n"
                ]
              }
            ]
          }
%%        {lager_file_backend, [{file, "error.log"}, {level, error}, {date, "$D23"}, {count, 60}]},
%%        {lager_file_backend, [{file, "console.log"}, {level, debug}, {date, "$D23"}, {count, 60}]}
        ]}
    ]}

].

